@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
    background: black;
}
body{
    background: rebeccapurple url("../img/fundo-madeira.jpg") no-repeat top center / cover fixed;
}
main{
    height: 100vh;
    position: relative;

}
section#telefone{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 627px;
    width: 311px;
    background: url("../img/frame-iphone.png") no-repeat;
}